hostname={{ ansible_hostname }}

{{ lookup('url', 'https://gist.githubusercontent.com/lordofthejars/e8e36d92ab640fa760dc1313c8d023b1/raw/ad2fbd788b8e74a5d76430d668d14eb0bc2c5999/db_params.properties',  split_lines=False) }}
