<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="logback"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每日滚动更新 -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- 保存30天且文件总大小保持在3GB内 -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="study.ywork.logback.tests" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 预定义的根记录器 -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 配置状态监听器 可以向终端报异常信息 -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
</configuration>
